* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: #000;
}

:root {
    --transition: all 0.3s ease-in;
}

.preloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.hide-preloader {
    display: none;
    z-index: -1000;
}

/*Welcome Section */

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #000000;
    border-bottom: #803a4d 2px solid;
    position: fixed;
    z-index: 999;
}


.nav-container {
    display: flex;
}

.nav-list {
    padding: 20px;
    text-align: center;
}

.nav-link {
    color: #FFF;
    display: block;
    font-size: 24px;
}

.nav-link:hover {
    color: #b46f82;
    transition: 0.3s;
}

#welcome-section {
    background: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.863)), url(https://i.redd.it/tkywljbnca651.png) center/cover no-repeat;
    height: 100vh;
    /* border-bottom: #803a4d 1px solid; */
}

.header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

h1 {
    color: #ffc3d5;
    font-size: 200px;
    font-weight: 500;
    font-family: 'Kaushan Script', cursive;
    margin-top: 140px;
    -webkit-animation: slide-in-top .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* h1:after {
    content: '';
    display: block;
    margin: auto;
    border: 1px #803A4D solid;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 500px; 
} */

.under-h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
    color: #b46f82
}

.secondary-color {
    color: #ffc3d5;
    font-size: 200px;
    font-family: 'Kaushan Script', cursive;
}

/* About me section */

#about {
    background-color: #000;
}

.semi-title {
    color: #b46f82;
    font-size: 140px;
    font-weight: 100;
    padding-top: 300px;
    padding-left: 200px;
    font-family: 'Kaushan Script', cursive;
}

.semi-title:after {
    content: '';
    display: block;
    border: 1px #803A4D solid;
    width: 555px;
}

.about-info {
    color: rgb(204, 204, 204);
    padding-top: 30px;
    padding-left: 200px;
    font-size: 18px;
    width: 60%;
}

.doc-info {
    color: rgb(204, 204, 204);
    padding-top: 50px;
    padding-left: 200px;
    width: 60%;
}

.about-me-text {
    padding-bottom: 300px;
}

.image {
    width: 85%;
    height: auto;
    border-radius: 5px;
}

.grid-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Projects Section */

#projects {
    background-color: #000;
    padding-top: 200 px;
    padding-bottom: 5rem;
}

.semi-title2 {
    color: #b46f82;
    text-align: center;
    font-size: 140px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
}

.semi-title2:after {
    content: '';
    display: block;
    border: 1px #803A4D solid;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
}

.projects-grid {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 4rem;
    transition: var(--transition);
}

.projects-grid:hover {
    
}

.project-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-collapse: collapse;
}

.project-card:nth-child(4) {
    grid-column: span 3;
}

.card-image {
    width: 500px;
    height: auto;
    border-radius: 5px 5px 0px 0px;
}

.card-body {
    background: #fff;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
}

.title-card {
    color: rgb(77, 77, 77);
    font-size: 1.5rem;
}

.text-card {
    color:rgb(43, 42, 42);
    font-size: 1rem;
    color: rgb(163, 163, 163);
    margin-bottom: 0.5rem;
}

.button-card {
    padding: 5px 10px;
    background: rgb(0, 145, 255);
    transition: var(--transition);
    cursor: pointer;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.button-card:hover {
    background: rgb(84, 181, 255);
    color: #fff;
}

/* Contact */

#contact {
    background-color: #000000;
    height: 100vh;
}

.contact-title {
    color: #b46f82;
    text-align: center;
    padding-top: 350px;
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}

.contact-title:after {
    content: '';
    display: flex;
    border: 1px #803A4D solid;
    width: 450px;
    margin: 0 auto;
}

.icons-links {
    display: flex;
    justify-content: center;
}

.contact-link {
    color: #FFF;
    font-size: 28px;
    padding: 30px 25px;
    font-weight: 300;
    transition: var(--transition);
}

.contact-link:hover {
    margin-top: 10px;
    color: #803A4D
}

/* Footer */
footer {
    background: #803A4D;
    border-top-left-radius: 50em 5%;
    border-top-right-radius: 50em 5%;
    padding: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section i {
    color: #fff;
    margin-left: 10px;
    transition: var(--transition);
}

.footer-section i:hover {
    color: #b46f82;
}

.footer-section a:nth-child(1) {
    margin: 0;
}

.copyright-text {
    color:rgb(204, 204, 204);
}

.footer-text {
    color:rgb(204, 204, 204);
    font-size: 19px;
    font-weight: bold;
    transition: .3s;
}

.footer-text:hover {
    color: #b46f82;
    font-size: 20px;
}


/* Animations */
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }