* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
}

/*Welcome Section */

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #000000;
    border-bottom: #803a4d 2px solid;
}

.nav-container {
    display: flex;
}

.nav-list {
    padding: 20px;
    text-align: center;
}

.nav-link {
    color: #FFF;
    display: block;
    font-size: 24px;
}

#welcome-section {
    background: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.863)), url(https://i.redd.it/tkywljbnca651.png) center/cover no-repeat;
    height: 100vh;
}

.header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

h1 {
    color: #ffc3d5;
    font-size: 150px;
    font-weight: 500;
    font-family: 'Kaushan Script', cursive;
}

h1:after {
    content: '';
    display: block;
    margin: auto;
    border: 1px #803A4D solid;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 500px; 
}

.under-h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
    color: #b46f82
}

.secondary-color {
    color: #ffc3d5;
    font-weight: bold;
    font-size: 200px;
    font-family: 'Kaushan Script', cursive;
}